.header {
    display:flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
    color:white;
}


.right {
    display:flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    display:flex;
    gap:16px;
    color:white;

}

a{
    color:white;
    text-decoration: none;
}

.first{
    background-color: #1f2937;
    padding:50px;
    padding-left: 100px;
    padding-right: 100px;
    display:flex;
    justify-content: center;
    color:white;
}


.f-left{
    max-width: 300px;
}
.second{
    background-color:white;
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.third{
    background-color: #E5E7EB;
    padding:50px;
    padding-left: 100px;
    padding-right: 100px;
    display:flex;
    justify-content: center;
}
.fourth{
    background-color: white;
    padding:50px;
    padding-left: 100px;
    padding-right: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
}

.display{
    background-color: #3882f6;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    display:flex;
    gap: 25px;
    align-items: center;
}




body{
    margin:0px;
    display:flex;
    flex-direction: column;
}

.content{
    display:flex;
    flex-direction: column;
}

.footer{
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
    background-color:#1f2937;
    text-align: center;
    color:white;
}

.small{
    height:200px;
    width:400px;
}

.flexible{
    display:flex;
    justify-content: center;
    gap:20px;
}

h2{
    text-align: center;
}

.pic {
    height:200px;
    width: 150px;
}

.square{
    height:150px;
    width:150px;
}

.temp{
    display:flex;
    flex-direction:column;
    width:500px;
    gap:0px;
}

.right-align{
    text-align: end;
}

button{
    width:100px;
    height:20px;
}